.Alert {
  display: flex;
  flex-direction: column;
  margin: 200px auto 20px auto;
  padding-bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  background-color: #385bac;
  width: 400px;
  color: white;
  border: 2px white solid;
}

.Alert p {
  margin-bottom: 30px;
}

.error-buttons button {
  margin-right: 10px;
  margin-left: 10px;
}
