.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #00d7b0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73ed8f;
  border-bottom: 2px black solid;
}

#logo {
  padding: 10px;
  margin-right: 5px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
}

h1 {
  font-size: 50px;
}
