.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #00d7b0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73ed8f;
  border-bottom: 2px black solid;
  letter-spacing: 3px;
  transition: all 0.4s ease 0s;
}

.title:hover {
  color: white;
  transition: all 0.4s ease 0s;
}

#logo {
  padding: 10px;
  margin-right: 15px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
}

h1 {
  font-size: 60px;
  font-family: "Staatliches", sans-serif;
}
