.BrowseCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  display: flex;
}

#selectCards {
  margin-right: 30px;
  align-self: center;
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  height: 460px;
  width: 230px;
  border: 2px black solid;
  box-shadow: 10px 10px #004742;
}

#selectCards:focus {
  outline: 0;
}

#selectCards-drop {
  display: none;
}

#delete {
  width: 170px;
  margin: 25px 10px 0 10px;
}

@media only screen and (max-width: 625px) {
  #selectCards {
    font-size: 20px;
    height: 400px;
    width: 200px;
    box-shadow: 8px 8px #004742;
  }
}

@media only screen and (max-width: 525px) {
  .display {
    flex-direction: column;
  }

  #selectCards {
    display: none;
  }

  #selectCards-drop {
    display: inline;
    margin-bottom: 15px;
  }

  #selectCards-drop:focus {
    outline: none;
  }
}

@media only screen and (max-width: 380px) {
  #browse-buttons {
    display: flex;
    flex-direction: column;
  }
}
