.BrowseCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  display: flex;
}

#selectCards {
  margin-right: 30px;
  align-self: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  height: 480px;
  width: 300px;
  border: 2px black solid;
}

#selectCards:focus {
  outline: 0;
}

#delete {
  width: 170px;
  margin-top: 25px;
}
