.Card {
  height: 440px;
  width: 280px;
  background: #00bdcb;
  margin: 15px auto 15px 25px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px;
}

.name {
  align-self: center;
  font-family: "Staatliches", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  font-size: 40px;
  margin-bottom: 20px;
}

.other-stat {
  margin-bottom: 20px;
  font-size: 24px;
}

.delete {
  align-self: center;
}
