.CreateCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.starter-deck {
  font-size: 20px;
  margin-top: 20px;
}

.createCardsForm {
  height: 460px;
  width: 280px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  background-color: #00bdcb;
  border: 2px black solid;
  border-radius: 30px;
}

label {
  display: grid;
  font-size: 20px;
}

.CreateCards select,
input {
  margin-bottom: 12px;
}

.selectNumber {
  width: 100px;
}

.validation {
  font-size: 17px;
}

input,
select {
  font-size: 18px;
}
