.CreateCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.starter-deck {
  display: flex;
  margin-top: 25px;
}

.starter-text {
  margin-right: 15px;
  font-size: 19px;
}

.starter-deck button {
  margin: auto 0 auto 0;
}

.createCardsForm {
  height: 420px;
  width: 280px;
  padding: 15px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  background-color: #00bdcb;
  border: 2px black solid;
  border-radius: 30px;
  box-shadow: 5px 5px #004742;
}

label {
  display: grid;
  font-size: 18px;
}

.CreateCards select,
input {
  margin-bottom: 10px;
}

.selectNumber {
  width: 100px;
}

.note {
  font-size: 15px;
}

input,
select {
  font-size: 15px;
}

@media only screen and (max-width: 400px) {
  .starter-text {
    font-size: 15px;
  }
}

@media only screen and (max-width: 370px) {
  .createCardsForm {
    width: 200px;
  }

  .note {
    font-size: 13px;
  }

  .starter-text {
    margin-bottom: 10px;
  }

  .starter-deck {
    flex-direction: column;
  }

  label {
    font-size: 15px;
  }
}

@media only screen and (max-width: 285px) {
  .createCardsForm {
    width: 160px;
  }
}
