.CreateCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 30px;
  font-family: "Staatliches", sans-serif;
  transition: all 0.4s ease 0s;
}

h2:hover {
  transition: all 0.4s ease 0s;
  color: white;
  letter-spacing: 3px;
}

.createCardsForm {
  width: 250px;
  padding: 20px 30px 20px 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: #00bdcb;
  border: 3px black solid;
  border-radius: 30px;
}

label {
  display: grid;
  font-size: 20px;
}

.CreateCards select,
input {
  margin-bottom: 10px;
}

.selectNumber {
  width: 100px;
}

.CreateCards button {
  align-self: center;
  height: 30px;
  width: 100px;
  background-color: #73ed8f;
  margin-top: 10px;
  font-family: "Staatliches", sans-serif;
  font-size: 20px;
  border: 2px black solid;
  transition: all 0.4s ease 0s;
}

.CreateCards button:hover {
  background: #385bac;
  color: white;
  width: 120px;
  letter-spacing: 3px;
  transition: all 0.4s ease 0s;
}

.note {
  font-size: 25px;
}
