.game-ui {
  justify-self: center;
  text-align: center;
}

.status {
  font-family: "Staatliches", sans-serif;
  text-decoration: underline;
  font-size: 50px;
  margin-bottom: 20px;
}

.message {
  font-size: 25px;
  margin-bottom: 20px;
}

.field {
  font-family: "Staatliches", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  transition: all 0.4s ease 0s;
}

.field:hover {
  color: red;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  letter-spacing: 3px;
}
