.game-ui {
  justify-self: center;
  text-align: center;
  margin: 0 15px 0 15px;
}

.status {
  font-family: "Staatliches", sans-serif;
  text-decoration: underline;
  font-size: 60px;
  margin-bottom: 20px;
  color: white;
  text-shadow: 3px 3px black;
}

.message {
  font-size: 25px;
  margin: 0 10px 20px 10px;
}

.field {
  font-family: "Staatliches", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  transition: all 0.4s ease 0s;
}

.field:hover {
  color: red;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  text-shadow: 3px 3px black;
}

.tie {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Staatliches", sans-serif;
}

.game-ui .buttons {
  flex-direction: column;
}

@media only screen and (max-width: 1100px) {
  .status {
    font-size: 40px;
  }

  .message {
    font-size: 22px;
  }

  .field {
    font-family: "Staatliches", sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .field:hover {
    text-shadow: 2px 2px black;
  }
}

@media only screen and (max-width: 800px) {
  .status {
    font-size: 35px;
  }

  .message {
    font-size: 20px;
  }

  #fields {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .field {
    font-family: "Staatliches", sans-serif;
    font-size: 30px;
    margin: 0 10px 0 10px;
  }

  .field:hover {
    text-shadow: 1px 1px black;
  }
}

@media only screen and (max-width: 420px) {
  .status {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .tie {
    margin-bottom: 10px;
    font-size: 25px;
    font-family: "Staatliches", sans-serif;
  }

  .message {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .field {
    font-size: 25px;
    margin: 0 5px 0 5px;
  }

  #fields {
    margin-bottom: 0;
  }
}
