.home {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  height: 75px;
  width: 220px;
  background-color: #009fd6;
  margin: 25px 25px 25px 15px;
  font-family: "Staatliches", sans-serif;
  font-size: 30px;
  border: 2px black solid;
  transition: all 0.4s ease 0s;
  box-shadow: 10px 10px #004742;
}

.buttons button:hover {
  background: #385bac;
  color: white;
  transition: all 0.4s ease 0s;
  outline: 0;
}

.description {
  margin: 8px auto 0 auto;
  padding: 0 10px 0 10px;
  font-size: 25px;
  text-align: center;
  height: 50px;
}

#pokerdogs {
  display: flex;
  align-self: center;
  margin-top: 25px;
}

footer {
  display: flex;
  align-self: center;
}

#twitter {
  margin-left: 6px;
}

@media only screen and (max-width: 900px) {
  .buttons button {
    width: 140px;
    font-size: 20px;
    box-shadow: 7px 7px #004742;
  }

  .description {
    font-size: 18px;
  }

  footer {
    font-size: 12px;
  }

  #twitter {
    height: 20px;
    width: 20px;
  }
}

@media only screen and (max-width: 600px) {
  #pokerdogs {
    width: 400px;
  }

  .buttons button {
    width: 120px;
    font-size: 20px;
    box-shadow: 5px 5px #004742;
    margin: 20px 20px 20px 15px;
  }

  .description {
    font-size: 17px;
  }
}

@media only screen and (max-width: 500px) {
  #pokerdogs {
    width: 400px;
  }

  .buttons button {
    width: 100px;
    font-size: 18px;
    box-shadow: 5px 5px #004742;
    margin: 20px 20px 20px 15px;
  }

  .description {
    font-size: 15px;
    margin-top: 3px;
  }

  #twitter {
    height: 15px;
    width: 15px;
  }
}

@media only screen and (max-width: 400px) {
  #pokerdogs {
    width: 300px;
  }

  .buttons button {
    height: 40px;
    width: 80px;
    font-size: 12px;
    box-shadow: 3px 3px #004742;
    margin: 15px 15px 15px 15px;
  }

  .description {
    font-size: 13px;
    height: 40px;
  }

  footer {
    font-size: 9px;
  }
}

@media only screen and (max-width: 320px) {
  #pokerdogs {
    width: 250px;
  }

  .buttons button {
    height: 40px;
    width: 60px;
    font-size: 10px;
    box-shadow: 3px 3px #004742;
    margin: 15px 15px 15px 15px;
  }

  .description {
    font-size: 10px;
    height: 30px;
  }

  footer {
    font-size: 9px;
  }
}
