.home {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  height: 75px;
  width: 220px;
  background-color: #009fd6;
  margin: 25px 25px 25px 15px;
  font-family: "Staatliches", sans-serif;
  font-size: 30px;
  border: 2px black solid;
  transition: all 0.4s ease 0s;
  box-shadow: 10px 10px #004742;
}

.buttons button:hover {
  background: #385bac;
  color: white;
  transition: all 0.4s ease 0s;
  outline: 0;
}

.description {
  margin: 8px auto 0 auto;
  font-size: 25px;
  text-align: center;
  height: 50px;
}

#pokerdogs {
  display: flex;
  align-self: center;
  margin-top: 25px;
}

footer {
  display: flex;
  align-self: center;
}

#twitter {
  margin-left: 6px;
}
