.home {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.buttons button {
  height: 75px;
  width: 220px;
  background-color: #009fd6;
  margin: 25px 25px 25px 15px;
  font-family: "Staatliches", sans-serif;
  font-size: 30px;
  border: 2px black solid;
  transition: all 0.4s ease 0s;
  box-shadow: 10px 10px #004742;
}

.buttons button:hover {
  background: #385bac;
  color: white;
  transition: all 0.4s ease 0s;
  outline: 0;
}

#pokerdogs {
  display: flex;
  align-self: center;
  margin-top: 25px;
}

footer {
  display: flex;
  align-self: center;
}

#twitter {
  margin-left: 6px;
}

@media only screen and (max-width: 1040px) {
  .buttons button {
    width: 140px;
    font-size: 25px;
    box-shadow: 7px 7px #004742;
  }
}

@media only screen and (max-width: 720px) {
  .buttons button {
    width: 120px;
    font-size: 20px;
    box-shadow: 5px 5px #004742;
    margin: 25px 20px 25px 15px;
  }

  footer {
    font-size: 15px;
  }

  #twitter {
    height: 18px;
  }
}

@media only screen and (max-width: 600px) {
  #pokerdogs {
    width: 400px;
  }

  .buttons {
    flex-wrap: wrap;
  }

  .buttons button {
    width: 100px;
    font-size: 18px;
    box-shadow: 3px 3px #004742;
    margin: 10px 20px 10px 15px;
  }
}

@media only screen and (max-width: 405px) {
  #pokerdogs {
    width: 350px;
  }

  #twitter {
    height: 17px;
  }

  footer {
    font-size: 13px;
  }
}

@media only screen and (max-width: 360px) {
  #pokerdogs {
    width: 250px;
  }

  .buttons button {
    width: 100px;
    height: 55px;
    font-size: 18px;
    box-shadow: 3px 3px #004742;
    margin: 10px 20px 10px 15px;
  }
}
