@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Staatliches&display=swap");

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #00d7b0;
}

#root {
  height: 100%;
}
